html {
    font-size: 100% !important;
}
// Header
.page-overview {
    background-color: #dfdfdf;
    .header.header-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 40px;
        background-color: #ffffff;
        box-shadow: 0 2px 5px #dfdfdf;
    }
    .content-body {
        padding: 40px 0;
    }
    .refinance-date {
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .title {
        font-size: 25px;
        font-weight: 600;
    }
}
    // -- vars
$bg-color: #34495e;
$default-size: 0.75em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;

// -- mixins
@mixin size($width, $height) {
    height: $height;
    width: $width;
}

@mixin draw-progress($color) {
    .pie {
        .half-circle {
            border-color: $color;
        }
    }
}

@mixin draw-progress--solid($progress, $color, $bg-color) {
    background: linear-gradient(to right, $color 50%, $bg-color 50%);

    &:before {
        @if $progress <= 50 {
        background: $bg-color;
        transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
        } @else {
        background: $color;
        transform: rotate((100 - $progress) / 100 * 360deg);
        }
    }
}

.set-size {
    font-size: 10em;
}

.charts-container {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

.pie-wrapper {
    @include size($default-size, $default-size);
    float: left;
    margin: 15px 0;
    position: relative;

    &:nth-child(3n + 1) {
        clear: both;
    }

.pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
        @include size(100%, 100%);
        border: 6px solid #3498db;
        border-radius: 50%;
        clip: rect(0, $default-size / 2, $default-size, 0);
        left: 0;
        position: absolute;
        top: 0;
    }
}

.label {
    background: $bg-color;
    border-radius: 50%;
    bottom: $label-font-size-redo / 10;
    color: #5a5a5a;
    cursor: default;
    display: block;
    font-size: 40px;
    left: $label-font-size-redo / 10;
    position: absolute;
    right: $label-font-size-redo / 10;
    text-align: center;
    top: $label-font-size-redo / 10;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    margin-top: 25%;
    .smaller {
        color: #5a5a5a;
        font-weight: 600
    }
}
.complete {
    display: block;
    color: #5a5a5a;
    font-weight: 600;
    font-size: 18px
}
.shadow {
    @include size(100%, 100%);
    border: 5px solid #e9f0fd;
    border-radius: 50%;
}

&.style-2 {
    .label {
    background: none;
    }
}
    &.progress-45 {
        @include draw-progress(#366cb4);
    }
}
.application-summary {
    padding: 20px 30px;
    background-color: #ffffff;
    border: 1px solid #97c3fc;
    border-radius: 4px;
    margin-bottom: 20px;
    .item-summary {
        margin-bottom: 30px;
        .item-content {
            img {
                opacity: 0.1;
                position: relative;
                top: 5px;
            }
            .item-title {
                font-size: 18px;
                font-weight: 600;
            }
            .item-content {
                font-size: 30px;
                &.font-small {
                    font-size: 16px;
                }
            }
            .link-detail {
                font-size: 16px;
                font-weight: 600;
                color: #0b73ff;
                cursor: pointer;
            }
        }
    }
}
.applicants,
.liabilities {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
}
.liabilities-top {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
    background-color: #fff;
}
.w-0 {
    width: 0 !important;
    padding: 0;
    border-right: 0 !important;
}
.border-right {
    border-right: 0.2px solid #88bbff !important;
}
.applicants-wrap,
.liabilities-wrap {
    @media screen and (max-width: 800px) {
        margin-bottom: 15px;
        
    }
    &:last-child {
        .table-cell {
            .table-content {
                border-right: 0.2px solid #88bbff;
            }
        }
    }
}
.liabilities-wrap {
    &:last-child {
        .table-cell {
            .table-content:last-child {
                border-left: 0;
            }
        }
        .table-cell {
            .table-label:last-child {
                border-right: 0.2px solid #88bbff;
            }
        }
    }
}
.table-cell {

  .table-header {
     background-color: #5195f0;
     width: 100%; 
     p {
        padding: 15px;
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        color: #ffffff;
        word-break: break-all;
     }
     .table-label {
        width: 45%;
        border: 0.2px solid #88bbff;
        text-align: center;
        border-right: 0;
        border-top: 0;
     }
     .table-content {
         width: 55%;
         border: 0.2px solid #88bbff;
         border-right: 0;
         border-top: 0;
     }
  }
  .table-body {
    width: 100%; 
    .table-label {
       width: 45%;
       border: 0.2px solid #88bbff;
       background-color: #e8f2ff;
       border-right: 0;
       border-top: 0;
       p {
        padding: 15px;
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        color: #212121;
        word-break: break-all;
        white-space: nowrap;
     }
    }
    .table-content {
        width: 55%;
        border: 0.2px solid #88bbff;
        background-color: #fefeff;
        border-right: 0;
        border-top: 0;
        p {
            padding: 15px;
            font-size: 18px;
            font-weight: 400;
            word-break: break-all;
            margin: 0;
            color: #212121;
            min-height: 57px;
         }
    }
 }
}
.residentialInformation {
    .table-cell {
       .table-header {
           p {
              font-size: 14px;
           }
        }
        .table-body {
          width: 100%; 
          .table-label {
            width: 100%;
             p {
              font-size: 14px;
           }
          }
          .table-content {
            width: 100%;
              p {
                  font-size: 16px;
                  line-height: 1.2;
                  &.price {
                      font-size: 22px;
                  }
               }
          }
       }
    } 
}
.SelfEmployment {
    .table-cell {
        .table-body {
          .table-label {
              width: 100%;
             p {
                font-size: 13px;
                padding: 15px 8px
            }
          }
          .table-content {
            width: 100%;
             p {
                padding: 15px 10px;
                font-size: 16px;
             }
          }
       }
    } 
}