.header-wrap.home-loan {
  .logo {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;

    .logo__img {
      max-width: pxToRem(130);

      &.logo-2 img {
        height: pxToRem(45) !important;
      }
    }
  }
}

.bankProviders {
  .input * {
    cursor: pointer !important;
  }

  .list-occupation li {
    line-height: 2.4;
  }
}

.fromHomeLoan {
  @media screen and (max-width: 640px) {
    .header-wrap.home-loan {
      padding-left: pxToRem(10);

      .logo {
        .logo__img {
          max-width: pxToRem(80);

          &.logo-2 {
            margin-left: pxToRem(5) !important;

            img {
              height: pxToRem(30) !important;
            }
          }
        }
      }
    }

    .bankProviders {
      .input__label {
        font-size: pxToRem(11) !important;
      }
    }
  }
}

.footer.footer-life-insurance.footerDashboard {
  display: block !important;
}

textarea {
  &.input-change {
    @media screen and (max-width: 640px) {
      padding-top: 40px !important;
      min-height: 80px !important;
    }
  }

  + .input__label {
    @media screen and (max-width: 640px) {
      white-space: pre-wrap !important;
    }
  }
}

.pageDashboard {
  min-height: 83vh;

  &.life-insurance__MainCt {
    padding-top: 9rem;
  }

  .Dashboard {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

    * {
      font-family: $fontLato;
    }

    h2 {
      margin-bottom: 15px;
      font-weight: bold;
      font-size: 35px;
    }

    p {
      font-size: 18px;
      color: #212121;
      text-align: center;
      font-weight: 600;
    }
    .content-box {
      display: flex;
      margin-top: 3rem;
      justify-content: space-around;
      align-items: center;
    }
    .item {
      margin-top: 20px;
      width: 50%;
      margin-left: 10px;
      margin-right: 10px;
    }

    .item-content {
      display: flex;
      align-items: center;
      padding: 10px 15px;
      border-radius: 10px;
      background-color: #fff;
      transition: all 0.3s;
      border: 2px solid #599bff;
      cursor: pointer;
      min-height: 60px;
      text-align: center;
      width: 100%;
      &.text-center {
        justify-content: center;
      }
      &:hover {
        background-color: #599bff;

        p {
          color: #fff;
        }

        .group-date {
          color: #fff;
        }

        .img1 {
          background-image: url("../../images/Dash_board.png");
        }

        .img2,
        .mortgage-brokers {
          filter: brightness(0.5);
        }
      }

      .img1 {
        width: 40px;
        margin-right: 0;
        background-image: url("../../images/Dash_board_blue.png");
        min-height: 40px;
        background-position: center center;
        background-size: cover;
      }

      .img2 {
        width: 40px;
        margin-right: 0;
        background-image: url("../../images/Dash_board3.png");
        min-height: 40px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
      .mortgage-brokers {
        width: 40px;
        margin-right: 0;
        background-image: url("../../images/Dash_board4.png");
        min-height: 40px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }

      p {
        font-size: 16px;
        margin-bottom: 0;
        transition: all 0.2s;
      }

      .group-date {
        font-size: 16px;
        color: #212121;
        font-family: $fontLato;
        transition: all 0.3s;
      }
    }
  }

  @media screen and (max-width: 640px) {
    &.life-insurance__MainCt {
      padding-top: 5rem;
    }

    .Dashboard {
      padding: 0 15px;

      h2 {
        font-size: 25px;
      }

      p {
        font-size: 16px;
      }

      .item {
        margin-top: 15px;
      }

      .item-content {
        padding: 15px;

        .img1 {
          width: 50px;
          margin-right: 10px;
          min-height: 60px;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .img2 {
          width: 50px;
          margin-right: 10px;
          min-height: 60px;
          background-size: contain;
          background-repeat: no-repeat;
        }

        p {
          font-size: 16px;
        }

        .group-date {
          font-size: 14px;
        }
      }
    }
  }
}

.footerDashboard {
  color: #212121;
  font-size: 16px;
  text-align: center;
  font-family: $fontLato;
  padding-bottom: 30px !important;
  font-weight: 700;
}

.pb-50 {
  margin-bottom: 15rem !important;
}

.max-500 {
  max-width: 500px !important;
}
@media screen and (max-width: 640px) {
  .fromHomeLoan.loan-consultant-test {
    .header-wrap.home-loan {
      height: auto;
      .logo .logo__img {
        position: relative;
        top: 5px;
      }
    }
    .life-insurance__MainCt.page-main {
      padding-top: 6.25rem;
    }
    .nav-left.style2.open {
      padding-top: 7rem;
    }
    .iconMenuClose {
      top: 4.75rem;
    }
    .iconMenu {
      top: 3.25rem;
    }
  }
}