.livingExpenses {
  padding-top: pxToRem(30);
  padding-bottom: 50px;

  * {
    font-family: 'Rubik' !important;
  }

  .YourDetail {
    padding-top: pxToRem(30);


  }

  .wForm-input {
    label {
      font-weight: 500;
      font-size: pxToRem(18);
      color: #212121;
    }

    .mess-error {
      font-size: pxToRem(13);
      margin-top: pxToRem(10);
      color: #ee4e4e;
      font-weight: 500;
    }
  }

  .input-change {
    padding: pxToRem(10) pxToRem(15);
    height: pxToRem(50);
    border-radius: pxToRem(6);
    outline: none;
    border: 1px solid #00347b;
    width: 100%;
    font-weight: 400;
    font-size: pxToRem(18);
    color: #212121;

    &.error {
      background-color: #ffdede;
      border-color: #ee4e4e;
    }
  }

  .title {
    font-size: pxToRem(27);
    color: #00347b;
    font-weight: 500;
    margin-bottom: pxToRem(15);
  }

  .step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .listAction {
      margin-bottom: pxToRem(15);

      button {
        color: #212121;
        font-size: pxToRem(14);
        padding: pxToRem(5) pxToRem(20);
        min-width: pxToRem(130);
        outline: none;
        text-align: center;
        font-weight: 500;
        background-color: #fff;
        border: 1px solid #00347b;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;

        &:hover {
          background-color: #a9afb7;
          border-color: #a9afb7;
        }

        &.active {
          background-color: #00347b;
          border-color: #00347b;
          font-weight: bold;
          color: #ffffff;
        }

        &:nth-child(1) {
          border-top-left-radius: pxToRem(6);
          border-bottom-left-radius: pxToRem(6);
          border-right: 0;
        }

        &:nth-child(3) {
          border-top-right-radius: pxToRem(6);
          border-bottom-right-radius: pxToRem(6);
          border-left: 0;
        }
      }
    }

    @media screen and (max-width: 992px) {
      display: block;

      .listAction {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .accordion {
    .card {
      border-radius: 0;
      border: 0 !important;
      margin-bottom: 2px;
    }

    .card-header {
      background-color: #4B5869;
      border: none;
      padding: pxToRem(10) pxToRem(0);
      border-radius: 0 !important;

      .btn-link {
        padding: 0;
        outline: none;
        width: 100%;
        box-shadow: none;
        text-decoration: none !important;
        padding: 0 pxToRem(70);

        @media screen and (max-width: 1200px) {
          padding: 0 pxToRem(15);
        }

        &:hover {
          text-decoration: none !important;
        }
      }

      .card-title {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: space-between;

        .price {
          text-transform: lowercase;
        }

        * {
          font-size: pxToRem(21);
          font-weight: 500;
          color: #ffffff !important;
        }
      }
    }

    .card-body {
      border: 0;
      padding: 0;
    }
  }

  .totalPrice {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-between;
    padding: pxToRem(30) pxToRem(70);

    @media screen and (max-width: 992px) {
      padding: pxToRem(30) 0;
    }

    .price {
      text-transform: lowercase;
    }

    * {
      font-size: pxToRem(25);
      font-weight: 500;
      color: #212121 !important;
    }
  }

  .btn-primary {
    color: #ffffff;
    font-weight: 400;
    background-color: #00347b;
    border: 1px solid #00347b;
    border-radius: 0;
    min-width: pxToRem(200);
    height: pxToRem(55);
    font-size: pxToRem(21);
  }

  .contentCollapse {
    .item {
      background-color: #f9f9f9;
      display: flex;
      align-items: center;
      padding: pxToRem(12) pxToRem(8);
      -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

      &:hover {
        background-color: #f9f9f9;
      }

      &.header {
        background-color: #f9f9f9;

        &:hover {
          background-color: #f9f9f9;
        }

        .titleName,
        .amount,
        .frequency,
        .totalAmount {
          font-size: pxToRem(20);
          color: #00347b;
          font-weight: 500;
        }
      }

      &:nth-child(2n+2) {
        background-color: #ffffff;

        &:hover {
          background-color: #f9f9f9;
        }
      }

      .titleName {
        width: 30%;
        font-size: pxToRem(18);
        color: #021211;
        font-weight: 400;
        padding-left: pxToRem(60);

        @media screen and (max-width: 1200px) {
          padding-left: pxToRem(15);
        }
      }

      .amount,
      .frequency,
      .totalAmount {
        width: 25%;
        font-size: pxToRem(18);
        color: #021211;
        font-weight: 400;
        position: relative;
      }

      .input__box {
        position: relative;
        display: inline-block;

        .input__label {
          position: absolute;
          left: pxToRem(10);
          top: 50%;
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          color: #00347b;
          font-weight: 500;
        }
      }

      .input-change,
      .customSelect__control {
        height: pxToRem(40);
        padding: pxToRem(5);
        border-radius: pxToRem(4);
        max-width: pxToRem(180);
        padding-left: pxToRem(25);
        margin: auto;
        -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

        @media screen and (max-width: 1200px) {
          max-width: pxToRem(140);
        }
      }

      @media screen and (max-width: 767px) {
        display: block;

        .totalAmount {
          text-align: right !important;
        }

        .amount,
        .frequency,
        .totalAmount {
          display: inline-block;
          width: 33%;
        }

        .titleName {
          display: block;
          width: 100%;
          padding: 0;
        }
      }
    }
  }

  .tooltipWrap {
    position: absolute;
    right: pxToRem(15);
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    line-height: 1;

    img {
      width: pxToRem(18);
      height: pxToRem(18);
      cursor: pointer;
    }
  }
}

.tooltip {
  opacity: 1 !important;
  margin-top: pxToRem(10);

  &.bs-tooltip-left.show {

    inset: pxToRem(53) pxToRem(-15) auto auto !important;

    &.top41 {
      inset: pxToRem(41) pxToRem(-15) auto auto !important;
    }
  }

  &.bs-tooltip-right.show {
    inset: pxToRem(53) auto auto pxToRem(-15) !important;

    &.top41 {
      inset: pxToRem(41) auto auto pxToRem(-15) !important;
    }
  }

  .arrow {
    display: none;
  }
}

.tooltip-inner {
  padding: pxToRem(16) !important;
  text-align: left !important;
  background-color: #050607;
  border: none;
  -webkit-box-shadow: 0 0 5px #050607;
  box-shadow: 0 0 5px #050607;
  z-index: 9999;
  max-width: 300px;

  @media screen and (max-width: 767px) {
    max-width: 200px;
  }
}

html.body-living-expenses.fonts100 {
  @media screen and (max-width: 992px) {
    font-size: 80%
  }

  @media screen and (max-width: 767px) {
    .logo.text-center {
      img {
        height: 50px !important;
      }
    }

    font-size: 75%;

    .tooltipWrap {
      right: pxToRem(-20);
      z-index: 1;
    }
  }

  @media screen and (max-width: 367px) {
    font-size: 70%;
  }
}