html.fonts100 {
  font-size: 100%;

  @media screen and(max-width: 767px) {
    font-size: 90%;
  }
}

html.fonts90 {
  font-size: 90%;
}

.life-insurance {
  &__MainCt {
    padding-top: pxToRem(140);
  }

  .header {
    padding: pxToRem(20);
    height: pxToRem(95);
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 999;
    display: block;
    border-bottom: pxToRem(1) solid #cdcdcd;

    &.sticky {
      .header-humanoid {
        bottom: 6px;
        transform: scale(0.9);
      }
    }

    .logo {
      text-align: left;
      max-width: pxToRem(130);

      img {
        height: pxToRem(60);
      }
    }

    .btn-reset {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: pxToRem(45);
      margin-top: pxToRem(-15);
      opacity: 0.5;

      img {
        width: pxToRem(22);
        height: pxToRem(26);
      }
    }
  }

  h2 {
    color: $black-active;
    text-align: center;
    font-size: pxToRem(30);
    line-height: pxToRem(35);
    font-weight: $medium;
    font-family: $fontRobotoSlab;
    margin-bottom: pxToRem(60);

    span {
      font-size: pxToRem(22);
      font-weight: 500;
    }
  }

  .info-customer {
    margin-bottom: pxToRem(25);
    max-width: pxToRem(510);
    margin-left: auto;
    margin-right: auto;

    .wForm-input {
      padding: 0 pxToRem(7);
    }

    &.refinance-fb {
      max-width: pxToRem(650);
    }
  }

  .text-error {
    text-align: center;

    p {
      font-size: pxToRem(14) !important;
      color: red !important;
      font-weight: 500 !important;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $fontLato;

      &.font-18 {
        font-family: "Lato";
        font-size: 1.125rem !important;
        font-weight: bold !important;
        text-align: center;

        @include max-screen($width-site) {
          font-size: 1rem !important;
        }
      }
    }

    img {
      width: pxToRem(20);
      height: pxToRem(19);
      margin-right: pxToRem(15);
    }
  }
}

.btnPrimary.life {
  box-shadow: 0px 10px 40px -10px rgba($btn-bg, 0.36);
  background-color: $btn-bg;
  color: $white;
  border-color: $btn-bg;
  font-size: pxToRem(20);
  line-height: pxToRem(40);
  font-family: $fontLato;
  font-weight: 500;
  text-transform: uppercase;
  // height: pxToRem(60);
  width: pxToRem(245);
  min-width: pxToRem(200);
  margin: pxToRem(50) auto 0 auto;
  -moz-transition: all 0.2s, -moz-transform 0.5s;
  -o-transition: all 0.2s, -o-transform 0.5s;
  -webkit-transition: all 0.2s, -webkit-transform 0.5s;
  transition: all 0.2s, transform 0.5s;

  &:hover {
    background-color: $black-active;
    border-color: $black-active;
  }

  &:disabled {
    background-color: $btn-disable;
    border-color: $btn-disable;
  }
}

.life-insurance {

  // InputCustom2 
  .input {
    &__box {
      position: relative;

      .icon {
        position: absolute;
        top: 50%;
        left: pxToRem(15);
        margin-top: pxToRem(-13);

        .iconEmail {
          width: pxToRem(26);
          height: pxToRem(20);
          opacity: 0.6;

          &.imgLocation {
            height: pxToRem(21);
          }
        }

        .iconRate {
          position: relative;
          top: -3px;
        }
      }

      &.email {
        .input-change {
          padding-left: pxToRem(55);
        }

        .input__label {
          left: pxToRem(56);
        }
      }

      &.text-center {
        .input-change {
          text-align: center;
        }

        .input__label {
          left: 0 !important;
          width: 100% !important;

          &.active {
            left: 13% !important;
          }
        }
      }

      .check-phone {
        right: pxToRem(10);
        left: auto;

        img.iconEmail {
          opacity: 1;
        }
      }

      input,
      textarea {
        border: pxToRem(1) solid $color-enquiry-action;
        height: pxToRem(60);
        display: block;
        border-radius: pxToRem(7);
        font-size: pxToRem(18);
        padding: pxToRem(15);
        padding-bottom: pxToRem(8);
        color: $black-active;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: $bold;
        -webkit-transition: width 0.15s, height 0.15s, background-size 0.15s;
        -moz-transition: width 0.15s, height 0.15s, background-size 0.15s;
        -o-transition: width 0.15s, height 0.15s, background-size 0.15s;
        transition: width 0.15s, height 0.15s, background-size 0.15s;
        outline: none;
        background-color: transparent;

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          transition: background-color 5000s ease-in-out 0s;
        }

        &.value {
          padding-top: pxToRem(20);
        }

        &:focus {
          border: pxToRem(2) solid $blue;
        }
      }

      textarea {
        min-height: pxToRem(60);
        white-space: pre-line;
        overflow: hidden;
        text-overflow: inherit;
        height: auto !important;
        // -moz-user-select: -moz-none;
        // -khtml-user-select: none;
        // -webkit-user-select: none;
        resize: none;
        // -ms-user-select: none;
        // user-select: none;

        &.value {
          padding-top: pxToRem(23);
        }
      }

      .input__label {
        position: absolute;
        top: pxToRem(7);
        left: pxToRem(17);
        -webkit-transition: all 0.15s ease-out;
        -moz-transition: all 0.15s ease-out;
        -o-transition: all 0.15s ease-out;
        transition: all 0.15s ease-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transform-origin: 0 100%;
        -webkit-transform: translateY(12px);
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -o-transform: translateY(12px);
        transform: translateY(12px);
        will-change: transform;
        cursor: text;
        color: $color-enquiry-action;
        text-transform: uppercase;
        font-family: $fontLato;
        font-size: pxToRem(15);
        font-weight: $bold;
        // z-index: -1;

        &.active {
          font-size: pxToRem(14);
          transform: scale(0.75);
          pointer-events: none;
        }

        &.multiline {
          top: pxToRem(8);

          &.active {
            top: pxToRem(4);
          }
        }
      }

    }
  }

  .formContent-life-insurance {
    h2 {
      margin-bottom: pxToRem(30);
    }

    p {
      font-size: pxToRem(20);
      line-height: pxToRem(35);
      color: #212121;
      font-family: $fontLato;
      font-weight: $regular;
    }
  }

  .formContent-step-second {

    h2 {
      margin-bottom: pxToRem(30);
    }

    p {
      font-size: pxToRem(20);
      line-height: pxToRem(35);
      color: #212121;
      font-family: $fontLato;
      font-weight: $regular;
    }

    .checkBox {
      margin-top: pxToRem(20);
    }
  }

  .formContent-step-third {
    .info-customer {
      max-width: pxToRem(300);
    }
  }

  .in-progress {
    position: relative;
    visibility: visible;

    .spinner-border {
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      border-radius: 100%;
      box-sizing: border-box;
      margin-top: -12.5px;
      margin-left: -12.5px;
      width: 25px;
      height: 25px;
      border: pxToRem(0.4) solid rgba(255, 255, 255, 0.15);
      border-top-color: rgba(255, 255, 255, 1);
      left: 25px;
    }
  }

  .formContent-step-four {
    .info-customer {
      max-width: pxToRem(400);

      .showValid {
        .group-gender {
          margin-bottom: pxToRem(30);
        }
      }
    }
  }

  .wForm-input {
    position: relative;
  }

  .list-occupation {
    position: absolute;
    left: 0;
    width: pxToRem(503);
    // max-height: pxToRem(320);
    // overflow: auto;
    z-index: 99;
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    border-radius: pxToRem(6);
    top: 100%;
    margin-top: pxToRem(1);

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
      background-color: #dfdfdf;
    }

    &::-webkit-scrollbar {
      width: pxToRem(5);
      background-color: #dfdfdf;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-light13;
      border: pxToRem(5) solid $color-light13;
      border-radius: pxToRem(2);
    }

    li {
      font-family: $fontLato;
      font-size: pxToRem(17);
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 3.47;
      letter-spacing: normal;
      text-align: left;
      color: #212121;
      border-bottom: 1px solid #dfdfdf;
      padding: pxToRem(0) pxToRem(30) pxToRem(0) pxToRem(60);
      cursor: pointer;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;

      &:hover,
      &.active {
        background-color: #dbdbdb;
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }


  .step-sever {
    .info-customer {
      max-width: pxToRem(630);

      .wForm-input {
        padding-left: pxToRem(15);
        padding-right: pxToRem(15);
      }
    }
  }
}

.modal.show .modal-dialog {
  transform: none;
  transform: translate(0, -50%);
  top: 45%;
}

.modal-dialog {
  min-height: auto;
  background-color: #ffffff;
  border-radius: pxToRem(10);

  &.modal-md {
    max-width: pxToRem(580);
  }

  &.modal-xl {

    .modal-footer {
      justify-content: center;
      padding-top: pxToRem(40);

      .btnPrimary {
        background-color: $btn-bg;
        color: $white;
        border-color: $btn-bg;

        &:hover {
          background-color: $black-active;
          border-color: $black-active;
        }
      }
    }

    .modal-content {
      padding-bottom: pxToRem(60);
      padding-right: pxToRem(22);

      .modal-body {
        max-height: pxToRem(450);
        overflow: auto;

        &::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
          background-color: transparent;
        }

        &::-webkit-scrollbar {
          width: pxToRem(8);
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $color-light13;
          border: pxToRem(8) solid $color-light13;
          border-radius: pxToRem(4);
        }

        .content-policy {
          padding: pxToRem(30);
          padding-top: pxToRem(20);

          * {
            text-align: justify !important;
            color: #001d30;
            letter-spacing: pxToRem(-0.45);
            line-height: 1.8;
            font-family: $fontLato;
            font-size: pxToRem(18);
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
          }

          p {
            margin-bottom: pxToRem(25);
          }

          ul {
            list-style-type: disc;
            padding-left: pxToRem(50);
            margin-bottom: pxToRem(25);
          }
        }
      }
    }
  }

  .modal-content {
    padding: pxToRem(13) pxToRem(45) pxToRem(76) pxToRem(45);
    position: relative;
    border: 0;

    .modal-header {
      border: 0;

      button {
        top: pxToRem(20);
        right: pxToRem(30);
        width: pxToRem(25);
        height: pxToRem(30);
        font-size: pxToRem(35);
        position: absolute;
        padding: 0;
      }
    }

    .modal-body {
      border: 0;
      padding: 0;
      padding-bottom: pxToRem(35);
      text-align: center;

      h4 {
        font-family: $fontRobotoSlab;
        font-size: pxToRem(30);
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: center;
        color: #001d30;
        margin-bottom: pxToRem(10);
      }

      p {
        font-family: $fontLato;
        font-size: pxToRem(18);
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 2.22;
        text-align: left;
        color: #212121;
        letter-spacing: (-0.45);
        text-align: center;
      }

    }
  }

  .modal-footer {
    padding: 0 pxToRem(15);
    border: 0;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      width: pxToRem(210);
      height: pxToRem(58);
      padding: pxToRem(10) pxToRem(25);
      border-radius: pxToRem(7);
      background-color: #e2e2e2;
      text-align: center;
      font-family: $fontLato;
      font-size: pxToRem(19);
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: center;
      color: #212121;
      text-transform: uppercase;
      border-color: #e2e2e2;
      margin: pxToRem(0) pxToRem(10);

      &.bnt-right {
        color: $white;
        background-color: $btn-bg;
        border-color: $btn-bg;
      }

      &:hover,
      &:focus,
      &:active {
        background-color: $black-active;
        border-color: $black-active;
        color: $white;
      }
    }
  }
}

.loadingLifeInsurance {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  p {
    font-style: normal;
    color: #2e9fe9;
    margin-left: 0.3125rem;
    font-size: 20px;
  }
}

.modal-popup-footer {
  p {
    text-align: left !important;
  }
}

// Mobile
.life-insurance {

  @media screen and (max-width: 640px) {
    .footer-life-insurance {
      display: none !important;

      &.position-relative {
        display: block !important;
      }
    }

    .life-insurance__MainCt {
      padding-top: pxToRem(140);

      &.page-main {
        padding-top: pxToRem(100);
      }
    }

    .header-wrap {
      height: pxToRem(60);
      padding-top: pxToRem(10);
      padding-bottom: pxToRem(10);

      .logo {
        max-width: pxToRem(89);

        img {
          height: pxToRem(40);
        }
      }

      .header-humanoid {
        width: pxToRem(50);
        height: pxToRem(50);
        margin-left: pxToRem(-20);
        bottom: pxToRem(-25);

        .avatar.med {
          width: pxToRem(50);
          height: pxToRem(50);
          background-size: pxToRem(50) pxToRem(50);
        }
      }

      .btn-reset {
        right: pxToRem(15);
      }
    }

    h2 {
      font-size: pxToRem(25);
      line-height: 1.2;

      span {
        font-size: pxToRem(18);
      }

      br {
        display: contents;
      }

      margin-bottom: pxToRem(35);
    }

    .formContent-life-insurance p {
      font-size: 16px;
      line-height: 1.4;
    }

    .btnPrimary.life {
      // height: pxToRem(55);
      font-size: pxToRem(18);
      width: auto;
    }

    // InputCustom2 
    .input {
      &__box {

        &.email {
          .input-change {
            padding-left: pxToRem(45);
          }

          .input__label {
            left: pxToRem(46);
          }
        }

        input,
        textarea {
          height: pxToRem(55);
          border-radius: pxToRem(6);
          font-size: pxToRem(18);
          padding: pxToRem(10);
          padding-bottom: pxToRem(6);

          &.value {
            padding-top: pxToRem(19);
          }
        }

        textarea {
          padding-top: pxToRem(18);

          &.value {
            padding-top: pxToRem(22);
            font-size: pxToRem(15);
          }
        }

        .input__label {
          top: pxToRem(8);
          left: pxToRem(13);
          -webkit-transform: translateY(10px);
          -moz-transform: translateY(10px);
          -ms-transform: translateY(10px);
          -o-transform: translateY(10px);
          transform: translateY(10px);
          font-size: pxToRem(13);
          max-width: pxToRem(280);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: block;

          &.active {
            font-size: pxToRem(14);
            transform: scale(0.75);
            top: pxToRem(3)
          }

          &.multiline {
            top: pxToRem(8);

            &.active {
              top: pxToRem(4);
            }
          }

          &.font-mobile12 {
            font-size: pxToRem(11);
          }
        }
      }
    }

    .formContent-step-four {
      .info-customer {
        margin-top: pxToRem(10) !important;
      }
    }

    .text-error {
      font-size: pxToRem(14);
    }

    .form-six {
      .wForm-input {
        padding-right: 0 !important;
      }
    }

    .list-occupation {
      width: 100% !important;

      li {
        padding: pxToRem(10) pxToRem(10) pxToRem(10) pxToRem(43);
        line-height: 1.4;
      }
    }

    .icon.check-phone {
      img.iconEmail {
        width: pxToRem(15);
      }
    }
  }
}

.icon.check-phone {
  z-index: -1;
}

.sub {
  font-size: pxToRem(16) !important;
  position: relative;
  display: inline-block;
  // justify-content: center;
  text-align: center;
  max-width: pxToRem(760);
  margin: auto;
  text-decoration: underline;
  cursor: pointer;

  img {
    display: inline-block;
    vertical-align: middle;
    width: pxToRem(19);
    height: pxToRem(19);
    margin-left: pxToRem(8);
    cursor: pointer;
  }
}

@media screen and (max-width: 640px) {

  .modal-dialog {
    min-height: auto;

    &.modal-xl {

      .modal-footer {
        padding-top: pxToRem(20);
      }

      .modal-content {
        padding-bottom: pxToRem(30);
        padding-right: pxToRem(22);

        .modal-body {
          max-height: pxToRem(350);
          overflow: auto;

          .content-policy {
            padding: pxToRem(15);

            * {
              line-height: 1.4;
              font-family: $fontLato;
              font-size: pxToRem(16);
            }

            p {
              margin-bottom: pxToRem(20);
            }

            ul {
              list-style-type: disc;
              padding-left: pxToRem(30);
              margin-bottom: pxToRem(20);
            }
          }
        }
      }
    }

    .modal-content {
      padding: pxToRem(30);

      .modal-header {
        padding: 0;

        button {
          top: pxToRem(15);
          right: pxToRem(25);
        }
      }

      .modal-body {
        text-align: center;

        h4 {
          font-size: pxToRem(20);
        }

        p {
          font-size: pxToRem(16);
          line-height: 1.2;
        }
      }

      .modal-footer {
        padding-left: 0;
        padding-right: 0;

        button {
          width: 45%;
          margin: 0 pxToRem(5);
          height: pxToRem(50);
          padding: pxToRem(5) pxToRem(10);
          font-size: pxToRem(16);
        }
      }
    }
  }
}

@-webkit-keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spinner-border {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.text-select {
  font-size: 25px;
  font-weight: 700;
  font-family: "Roboto Slab";
}

.sub-small {
  color: #12122d;
  font-style: italic;
  font-weight: 600 !important;
  font-size: 16px !important;
}

.text-transform-capitalize {
  text-transform: capitalize !important;
}

.max-450 {
  max-width: 450px !important;
}

.group-btn-footer {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  &.w-500 {
    max-width: 600px;

    .btnPrimary.life {
      width: 240px;
      min-width: 160px;
      margin: 0 5px;
    }
  }

  .btnPrimary.life {
    width: 160px;
    min-width: 160px;

    &.back {
      background-color: #e5e5e5;
      border-color: #e5e5e5;
    }
  }

  @media screen and (max-width: 640px) {
    .btnPrimary.life {
      width: 140px;
      min-width: 120px;
    }

    &.w-500 {
      .btnPrimary.life {
        width: 160px;
        min-width: 160px;
        font-size: 15px;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.SKIP {
  text-align: center;
  color: #898989;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 20px;
  font-family: $fontLato;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.w-600 {
  max-width: 600px !important;
}

.w-650 {
  max-width: 650px !important;
}

.max-280 {
  max-width: 280px !important;
}


.wrapper {
  textarea.input-change {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;
  }

  input.google-places-autocomplete__input {
    border: pxToRem(1) solid $color-enquiry-action;
    height: pxToRem(60);
    display: block;
    border-radius: pxToRem(7);
    font-size: pxToRem(18);
    padding: pxToRem(15);
    padding-bottom: pxToRem(8);
    color: $black-active;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $bold;
    -webkit-transition: width 0.15s, height 0.15s, background-size 0.15s;
    -moz-transition: width 0.15s, height 0.15s, background-size 0.15s;
    -o-transition: width 0.15s, height 0.15s, background-size 0.15s;
    transition: width 0.15s, height 0.15s, background-size 0.15s;
    outline: none;
    background-color: transparent;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }

    &.value {
      padding-top: pxToRem(20);
    }

    &:focus {
      border: pxToRem(2) solid $blue;
    }
  }

  .google-places-autocomplete__suggestions-container {
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    border-radius: pxToRem(6);
    top: 100%;
    margin-top: pxToRem(10);
    z-index: 99;

    >div {
      font-family: $fontLato;
      font-size: pxToRem(17);
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #212121;
      border-bottom: 1px solid #dfdfdf;
      padding: pxToRem(10) pxToRem(30) pxToRem(10) pxToRem(60);
      cursor: pointer;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
      height: pxToRem(60);
      display: flex;
      align-items: center;

      &:hover,
      &.active {
        background-color: #dbdbdb;
      }


      &:last-child {
        border-bottom: 0;
      }
    }
  }


  @media screen and (max-width: 640px) {
    .google-places-autocomplete__suggestions-container {
      >div {
        font-size: pxToRem(15);
        padding: pxToRem(10) pxToRem(30) pxToRem(10) pxToRem(43);
      }
    }
  }
}

.ovl-header {
  &::before {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    height: 90px;
    background-color: #ffffff;
    z-index: -1;
    max-width: 340px;
    width: 340px;
  }

  &::after {
    position: fixed;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    background-color: #ffffff;
    z-index: -1;
    width: calc(100% - 360px);
  }
}

.group-action {
  position: absolute;
  right: -90px;
  bottom: auto;
  top: pxToRem(15);
  display: flex;
  align-items: center;

  .btn-plus {
    max-width: 25px;
    cursor: pointer;
  }

  @media screen and (max-width: 640px) {
    right: 15px;
    top: -40px;
    bottom: auto;
  }
}

.opacity-03 {
  opacity: 0.3;
  pointer-events: none !important;
}