.wrapper.MainSolar {
  .welcomeLifeInsurance {
    p {
      font-family: $fontLato;
      font-weight: bold;
      font-size: pxToRem(29);
      margin-bottom: pxToRem(15);
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    ul.list-dot {
      li {
        font-size: pxToRem(18);
        line-height: 1.4;
        margin-bottom: 10px;
        font-family: $fontLato;
        font-weight: $regular;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: center;
        color: #212121;
        position: relative;

        &::before {
          content: "•";
          margin-right: pxToRem(5);
        }
      }
    }
  }


  .info-customer.MyHouse {
    max-width: pxToRem(370);
  }

  .step-sever {
    .info-customer {
      max-width: pxToRem(630);

      .wForm-input {
        padding-left: pxToRem(15);
        padding-right: pxToRem(15);

        .checkbox__label {
          width: 100%;
          text-align: center;
          padding-right: pxToRem(55);
        }
      }
    }
  }

  textarea.input-change {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    box-shadow: none !important;

  }

  input.google-places-autocomplete__input {

    border: pxToRem(1) solid $color-enquiry-action;
    height: pxToRem(60);
    display: block;
    border-radius: pxToRem(7);
    font-size: pxToRem(18);
    padding: pxToRem(15);
    padding-bottom: pxToRem(8);
    color: $black-active;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $bold;
    -webkit-transition: width 0.15s, height 0.15s, background-size 0.15s;
    -moz-transition: width 0.15s, height 0.15s, background-size 0.15s;
    -o-transition: width 0.15s, height 0.15s, background-size 0.15s;
    transition: width 0.15s, height 0.15s, background-size 0.15s;
    outline: none;
    background-color: transparent;

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
    }

    &.value {
      padding-top: pxToRem(20);
    }

    &:focus {
      border: pxToRem(2) solid $blue;
    }


  }

  .google-places-autocomplete__suggestions-container {
    background-color: #f7f7f7;
    border: 1px solid #dfdfdf;
    border-radius: pxToRem(6);
    top: 100%;
    margin-top: pxToRem(10);

    >div {
      font-family: $fontLato;
      font-size: pxToRem(17);
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.4;
      letter-spacing: normal;
      text-align: left;
      color: #212121;
      border-bottom: 1px solid #dfdfdf;
      padding: pxToRem(10) pxToRem(30) pxToRem(10) pxToRem(60);
      cursor: pointer;
      -webkit-transition: all 0.15s ease-out;
      -moz-transition: all 0.15s ease-out;
      -o-transition: all 0.15s ease-out;
      transition: all 0.15s ease-out;
      height: pxToRem(60);
      display: flex;
      align-items: center;

      &:hover,
      &.active {
        background-color: #dbdbdb;
      }


      &:last-child {
        border-bottom: 0;
      }
    }
  }


  @media screen and (max-width: 640px) {
    .welcomeLifeInsurance {
      .logo {
        margin-bottom: pxToRem(50);
      }

      p {
        font-family: $fontLato;
        font-weight: bold;
        font-size: pxToRem(16);
      }

      ul.list-dot {
        li {
          font-size: pxToRem(14);
          line-height: 1.4;
          padding: 0;
        }
      }
    }

    .google-places-autocomplete__suggestions-container {
      >div {
        font-size: pxToRem(15);
        padding: pxToRem(10) pxToRem(30) pxToRem(10) pxToRem(43);
      }
    }
  }
}

.life-insurance footer.footer-solar.footer-life-insurance {
  background-color: #f6f6f6;
  padding-bottom: 30px;

  .container {

    @include min-screen($width-site) {
      max-width: pxToRem(1100);
    }

    @include max-screen($width-site) {
      margin-top: 0;
    }
  }
}

footer.position-relative {
  bottom: 0 !important;
}

.mobileNoHomeowner {
  .progress .progress-bar {
    background-color: red !important;
  }
}

.font-15 {
  font-size: pxToRem(25) !important;
}

.group-debt {
  img {
    max-width: 65px;
  }

  p {
    color: #001d30;
    text-align: center;
    font-size: pxToRem(18) !important;
    line-height: 1.4;
    margin-top: 10px;
    font-weight: 700;
    font-family: "Lato";
  }
}

.nav-right {
  margin-left: 300px;
}

.nav-left {
  position: fixed;
  left: 0;
  top: 90px;
  width: 350px;
  z-index: 99;
  max-height: 85vh;
  height: 85vh;
  padding: 30px 20px;
  overflow: auto;
  padding-bottom: 20px;
  overflow-y: scroll;
  background-color: #fff;

  &.style2 {
    top: 0;
    height: 100vh;
    max-height: 100vh;
    padding-top: pxToRem(130);
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.3);
    background-color: $color-light13;
  }

  &::-webkit-scrollbar {
    width: pxToRem(5);
    background-color: $color-light13;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #42adff;
    border: pxToRem(5) solid #42adff;
    border-radius: pxToRem(4);
  }

  .nav-detail {
    font-family: $fontLato;
    font-size: 18px;
    color: #212121;
    font-weight: 500;
    padding-bottom: 20px;
    border-bottom: 2px solid #42adff;
    padding-left: 30px;

    p {
      font-weight: 700;
      color: #42adff;
    }
  }
}

.iconMenu {
  display: none !important;
  cursor: pointer;
  position: fixed;
  left: 0;
  right: 0;
  top: 40px;
  background-color: #fff;
  z-index: 9;
  padding-top: 30px;
  padding-left: 15px;

  .sub-iconMenu {
    max-width: 50px;
  }

}

.iconMenuClose {
  position: absolute;
  max-width: 40px;
  right: 0;
  top: 0;
  display: none !important;
}

@media screen and (max-width: 1024px) {
  .nav-left {
    width: 300px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 992px) {

  .iconMenu,
  .iconMenuClose {
    display: block !important;
  }

  .nav-left {
    transition: all 0.4s;
    left: -100%;
    width: 320px;

    &.open {
      left: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .nav-left {
    max-height: 100%;
    height: 100%;
    top: 60px;
  }

  .nav-right {
    margin-left: 0;
  }
}

.listAnswer {
  padding-top: 20px;
  padding-bottom: 100px;

  &.style2 {
    >li {
      padding-left: 0;

      &:hover,
      &.answerActive {
        .blue {
          display: inline-block;
        }

        .light {
          display: none;
        }
      }

      img {
        width: 25px;
        height: 25px;
      }

      .blue {
        display: none;
      }

      &::before {
        content: "";
        position: absolute;
        left: auto;
        top: 6px;
        right: 3px;
      }

      .sub-question * {
        color: #212121 !important;
        font-weight: 500;
        cursor: text;
      }

      .sub-question {
        margin-top: 15px;

        li {
          margin-bottom: 10px;
        }
      }
    }
  }

  >li {
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s;
    padding-left: 30px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      width: 16px;
      height: 16px;
      background-position: center center;
      background-size: cover;
    }

    &.answerActive {
      &::before {
        background-image: url("../../images/tick.png");
      }
    }

    &.answerSkip {
      &::before {
        background-image: url("../../images/skip.png");
      }

      &.answerSkip2 {
        &::before {
          display: none;
        }
      }

      .question {
        color: #a7a7a7 !important;
        font-weight: 500;
      }

      .answer {
        color: #ff6060 !important;
      }
    }

    &.active,
    &:hover {
      * {
        color: #42adff;
      }
    }

    * {
      font-family: $fontLato;
      font-size: 14px;
      color: #212121;
      white-space: pre-line;
    }

    .question {
      font-weight: 700;
      // white-space: pre-wrap;
    }

    .step {
      min-width: 60px;
      font-weight: 700;
      color: #42adff;
    }
  }
}

textarea {
  &.noteVale {
    min-height: 150px;
    background-color: #f6fbff;
    color: #212121;
  }
}

.btn-logout {
  color: #ccc;
  text-align: center;
  text-decoration: underline;
  font-weight: 500;
  font-size: 16px;
  margin-top: 40px;
}

.min-150 {
  min-width: pxToRem(150) !important;
}


.addNote {
  position: fixed;
  right: 15px;
  bottom: 0;
  width: pxToRem(400);
  background-color: #599bff;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  z-index: 999;

  @media screen and(max-width: 1700px) {
    width: pxToRem(330);
  }

  .addHeader {
    background-color: #599bff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border: 1px solid #599bff;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: center;
    position: relative;

    .icon-note {
      padding-right: 15px;
    }

    .arrow-note {
      max-width: 15px;
      max-width: 20px;
      position: absolute;
      right: 20px;
      transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
    }
  }

  .content-note {
    height: 0;
    padding-bottom: 20px;
    background-color: #fff;
    box-shadow: 0px 10px 40px -10px rgba(46, 159, 233, 0.36);
    -webkit-box-shadow: 0px 10px 40px -10px rgba(46, 159, 233, 0.36);
    border: 0.0625rem solid #b0b0b0;
    border-top: 0;

    textarea {
      min-height: 350px;
      background-color: #fff;
      color: #212121;
      padding: 15px;
      border: 0;
      outline: none !important;
      border-radius: 0;
      box-shadow: none !important;
    }
  }

  &.show {
    .content-note {
      height: auto;
    }

    .addHeader {
      .arrow-note {
        transform: rotate(0);
        -webkit-transform: rotate(0);
      }
    }
  }
}

.modal-submit {
  .modal-dialog {
    .modal-content {
      padding-left: pxToRem(20);
      padding-right: pxToRem(20);
    }
  }
}